<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2101af86-ebc3-40b3-9d11-efb2aab7d55f/resourcegroups/Eventgroup/providers/Microsoft.Web/sites/EventWSRolf</ResourceId>
    <ResourceGroup>Eventgroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://eventwsrolf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>eventwsrolf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EventWSRolf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EventWSRolf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EventContext" Order="1" Enabled="False">
          <Destination Path="Data Source=eventserver01.database.windows.net;Initial Catalog=EventDB;Persist Security Info=True;User ID=Rolles;Password=Eolles28462846;Application Name=EntityFramework" Name="Data Source=eventserver01.database.windows.net;Initial Catalog=EventDB;Persist Security Info=True;User ID=Rolles;Password=Eolles28462846;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EventWS.EventContext, EventWS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="EventContext-Web.config Connection String">
      <ParameterValue>Data Source=eventserver01.database.windows.net;Initial Catalog=EventDB;Persist Security Info=True;User ID=Rolles;Password=Eolles28462846;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EventContext-Web.config Connection String">
      <ParameterValue>Data Source=eventserver01.database.windows.net;Initial Catalog=EventDB;Persist Security Info=True;User ID=Rolles;Password=Eolles28462846;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>